.done-true {
  text-decoration: line-through;
  color: grey;
}

/*styling the excel sheet*/

.output, .input {
	font-family: sans-serif;
	font-size: 10pt;
	position: absolute;
	height: 1.2em;
	width: 50pt;
	height: 16pt;
	overflow: hidden;
	padding-left: 4pt;
}

.input { background: rgba(255, 0, 0, 0.2); border: none;}
.output { 
	background: rgba(200, 200, 255, 1);
	pointer-events: none;
	padding-top: 2pt;
	height: 14pt;
	background: white
}
.input:focus + .output { display: none; }

.input { border: none;}

table { border-collapse: collapse; } 
 td > div {
   width: 55pt;
   height: 16pt;
 } 
 td { border: 1px solid #EEE; }

 .column-label  > td, .row-label {
   text-align: center;
   background: #EEE;
 }
 .row-label { width: 2em; }

 .center{
     text-align: center;
 }

 #wrapper {
 	height: 50px;
 }